.calendar {
    display: grid;
    grid-template-areas:
        "day1 day5 day9 day13 day17 day21"
        "day2 day6 day10 day14 day18 day22"
        "day3 day7 day11 day15 day19 day23"
        "day4 day8 day12 day16 day20 day24";
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 25%);
    height: 120px;
    width: 180px;
}
